<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<!-- 引入Vue -->
		<script type="text/javascript" src="../Vue库/vue.js"></script>
	</head>
	<body>
		<!-- 准备好一个容器 -->
		<div id="root">
			<h2>人员列表</h2>
			<input type="text" placeholder="请输入名字" v-model="keyWord"/>
			<button @click="sortType = 2">年龄升序</button>
			<button @click="sortType = 1">年龄降序</button>
			<button @click="sortType = 0">原来顺序</button>
			 <ul>
				 <li v-for="(p,index) of filPersons" :key="index">
					 {{p.name}}-{{p.age}}
				 </li>
			 </ul>
		</div>
	<script type="text/javascript">
	Vue.config.productionTip = false
	
	new Vue({
		el:'#root',
		data:{
			keyWord:'',
			sortType:0,
			persons:[
				{id:'001',name:'马冬梅',age:18,sex:'女'},
				{id:'002',name:'周冬雨',age:10,sex:'女'},
				{id:'003',name:'周杰伦',age:28,sex:'男'},
				{id:'004',name:'林俊杰',age:23,sex:'男'}
			],
		},	
		computed:{
			filPersons(){
				const arr =  this.persons.filter((p)=>{
					return p.name.indexOf(this.keyWord) !== -1
				})
				//判断是否需要排序
				if(this.sortType){
					arr.sort((p1,p2)=>{
						return this.sortType === 1 ? p2.age-p1.age : p1.age-p2.age
					})
				}
				return arr
			}
		}
	})
	</script>
	</body>
	
</html>

