<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<!-- 引入Vue -->
		<script type="text/javascript" src="../Vue库/vue.js"></script>
	</head>
	<body>
		<!-- 准备一个容器 -->
		<div id="root">
			姓：<input type="text" v-model="Fname"/><br />
			名：<input type="text" v-model="Lname"/><br />
			全名：<span>{{fullname}}</span>
		</div>
	</body>
	<script type="text/javascript">
	Vue.config.productionTip = false//关闭启动时的提示
	
	const vm = new Vue({
		el:'#root',
		data:{
			Fname:'张',
			Lname:'三',
		},
		computed:{
			//计算属性
			fullname:{
				//当fullName被调修改时set被调用，初次读取fullName时被调用
				get(){
					return this.Fname + this.Lname
				},
				set(value){
					console.log('set',value)
					const arr = value.split('-')
					this.Fname = arr[0]
					this.Lname = arr[1]
				}
			}
		}
	})
	</script>
</html>
